html {
	height: 100%;
}
body {
	position:absolute; top:0; bottom:0; right:0; left:0; 
	background: hotpink;
	color: aliceblue;
	font-family: 'Lato', sans-serif;
	background: radial-gradient(circle, transparent 50%, black 190%), rgb(16, 42, 45);
	padding: 0px;
	margin: 0px;
	height: 100%;
}
prosto {
	color: #5af95a;
}