* {
	margin: 0px;
	border: 0px;
	padding: 0px;
}
html {
	height: 100%;
}
body {
	/* Making the body take whole page */
	position:absolute; top:0; bottom:0; right:0; left:0;
	height: 100%;

	/* The text */
	color: aliceblue;
	font-family: 'Lato', sans-serif;
}

/* all the special cases in which my font colour is needed */
prosto {
	color: #5af95a;
}
/* all the special cases in which my secondaty font colour is needed */
sidekick {
	color: #00f4ff;
}

#main {
	display: flex;
	flex-direction: row;

	height: 100%;
}

#contents {
	/* Vignette colour */
	background: radial-gradient(circle, transparent 50%, black 200%), rgb(26, 34, 36);
	width: 100%;
	height: 100%;
}
#contents > iframe {
	width: 100%;
	height: 98%;
}

#navbar {
	display: grid;
	grid-auto-rows: minmax(30px, 18%);
	grid-template-columns: repeat(1, 1fr) repeat(1, 3fr);

	width: 4rem;

	background: linear-gradient(to right, rgb(0, 30, 47) 90%, black 100%);
	padding-top: 1rem;
}
#navbar:hover {
	animation: navbar-animation 1s forwards;
}

#navbar > div > hiddn {
	display: none;
}
#navbar:hover > div > hiddn {
	display: inline;
	padding-top: 10px;
}
#navbar > div > * {
	font-size: 20px;
}

#navbar > div > p {
	padding-left: 10px;
}
#navbar > div > prosto {
	padding-left: 10px;
	font-weight: 600;
}

@keyframes navbar-animation {
	from {
		width: 4rem;
	}
	to {
		width: 15rem;
		background: linear-gradient(to right, rgb(0, 30, 47) 96%, black 100%);
	}
}

/* 
* {
	border: 1px solid white;
} */
