* {
	margin: 0px;
	border: 0px;
	padding: 0px;
}
html {
	height: 100%;
}
body {
	/* Making the body take whole page */
	position:absolute; top:0; bottom:0; right:0; left:0;
	height: 100%;

	/* The text */
	color: aliceblue;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
}
/* @media only screen and (max-width: 600px) {
	body {
		font-size: 12px;
	}
} */

/* all the special cases in which my font colour is needed */
prosto {
	color: #5af95a;
}
/* all the special cases in which my secondaty font colour is needed */
sidekick {
	color: #00f4ff;
}

a:link,a:visited {
	color: #00f4ff;
	text-decoration: none;
}
a:hover,a:active {
	color: #5af95a;
	text-decoration: none;
}