@font-face {
    font-family: "w95";
    src: url("../fonts/w95.ttf") format("truetype");
}

* {
    font-family: "w95", sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
}
body {
    cursor: url(../images/cursors/frame1.png), auto;
    animation: cursor 300ms infinite;
}
@keyframes cursor {
    0% {cursor: url(../images/cursors/frame1.png), auto;}
    50% {cursor: url(../images/cursors/frame2.png), auto;}
    100% {cursor: url(../images/cursors/frame3.png), auto;}
}

html, body {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
    background: #008081;
}

button, .clickable {
    cursor: url(../images/cursors/point.png) 10 10, auto;
}

.window {
    background: #c0c0c0;
    border-left: white 1px solid;
    border-top: white 1px solid;
    border-right: #808080 1px solid;
    border-bottom: #808080 1px solid;
    box-shadow: -1px -1px #dfdfdf, 0px -1px #dfdfdf, -1px 0px #dfdfdf,
        1px 1px black, -1px 1px black, 1px -1px black;
    padding-top: 0;
}

.title {
    height: 23px;
    background: #000080;
    color: white;
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 1px;
    padding: 0px 0px 0px 3px;
}

.title>b {
    overflow: hidden;
    text-overflow: ellipsis;
}

.title>.button {
    margin-top: 2px;
    margin-right: 2px;
    width: 19px;
    height: 19px;
    float: right;
    padding: 0;
}

.title>.button>span {
    position: relative;
    top: -3px;
}

.button {
    background: #c0c0c0;
    border-left: #dfdfdf 1px solid;
    border-top: #dfdfdf 1px solid;
    border-right: #808080 1px solid;
    border-bottom: #808080 1px solid;
    box-shadow: -1px -1px white, 0px -1px white, -1px 0px white,
        1px 1px black, -1px 1px black, 1px -1px black;
}

.button:focus {
    box-shadow: -1px -1px black, 0px -1px black, -1px 0px black,
        1px 1px black, -1px 1px black, 1px -1px black;

}

.button:not(.menu):focus>span {
    border: black 1px dashed;
}

.button:active {
    border: #808080 1px solid;
}


/* Window resizing - for script enabled browsers */
.edge-move {
    /* background-color: #00ff007f; */
    cursor: url(../images/cursors/move.png) 10 10, auto;
}
.edge-vert {
    /* background-color: #ff00007f; */
    cursor: url(../images/cursors/scale-horizontal.png) 10 10, auto;
}
.edge-hori {
    /* background-color: #0000ff7f; */
    cursor: url(../images/cursors/scale-vertical.png) 10 10, auto;
}
.edge-diag1 {
    /* background-color: #ff00ff7f; */
    cursor: url(../images/cursors/scale-tlbr.png) 10 10, auto;
}
.edge-diag2 {
    /* background-color: #ffff007f; */
    cursor: url(../images/cursors/scale-trbl.png) 10 10, auto;
}



.bottom-bar {
    display: flex;
    flex-direction: row;
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 37px;
    width: 100%;
    align-items: center;

    border-top: white 1px solid;
    box-shadow: 0px -1px #dfdfdf;
    background-color: #c0c0c0;
}
#start-button {
    margin-left: 3px;
    padding: 0;
    height: 32px;
}
#start-button>button {
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#start-button>button>img {
    padding: 0;
    margin: 0;
    border: 0;
    margin-left: 1px;
    height: 26px;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}
#start-button>button>span {
    padding: 0;
    margin: 0;
    border: 0;
    margin-left: 3px;
    margin-right: 5px;
}

.icon {
    margin: 0;
    padding: 0;
    margin-left: 5px;

    width: 32px;
    height: 32px;
}
.icon>img {
    margin-top: 2px;
    height: 26px;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}
.icon>p {
    margin: 0;
}
