@font-face {
    font-family: "w95";
    src: url("../fonts/w95.ttf") format("truetype");
}

* {
    font-family: "w95", sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
}
body {
    cursor: url(../frame1.png), auto;
    animation: cursor 300ms infinite;
}
@keyframes cursor {
    0% {cursor: url(../frame1.png), auto;}
    50% {cursor: url(../frame2.png), auto;}
    100% {cursor: url(../frame3.png), auto;}
}

body {
    background: #008081;
}

button {
    cursor: url(../point.png), auto;
}

.window {
    background: #c0c0c0;
    border-left: white 1px solid;
    border-top: white 1px solid;
    border-right: #808080 1px solid;
    border-bottom: #808080 1px solid;
    box-shadow: -1px -1px #dfdfdf, 0px -1px #dfdfdf, -1px 0px #dfdfdf,
        1px 1px black, -1px 1px black, 1px -1px black;
    padding-top: 0;
}

.title {
    height: 23px;
    background: #000080;
    color: white;
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 1px;
    padding: 0px 0px 0px 3px;
}

.title>b {
    overflow: hidden;
    text-overflow: ellipsis;
}

.title>.button {
    margin-top: 2px;
    margin-right: 2px;
    width: 19px;
    height: 19px;
    float: right;
    padding: 0;
}

.title>.button>span {
    position: relative;
    top: -3px;
}

.button {
    background: #c0c0c0;
    border-left: #dfdfdf 1px solid;
    border-top: #dfdfdf 1px solid;
    border-right: #808080 1px solid;
    border-bottom: #808080 1px solid;
    box-shadow: -1px -1px white, 0px -1px white, -1px 0px white,
        1px 1px black, -1px 1px black, 1px -1px black;
}

.button:focus {
    box-shadow: -1px -1px black, 0px -1px black, -1px 0px black,
        1px 1px black, -1px 1px black, 1px -1px black;

}

.button:not(.menu):focus>span {
    border: black 1px dashed;
}

.button:active {
    border: #808080 1px solid;
}


/* Window resizing - for script enabled browsers */

.edge {
    width: 100px;
    height: 100px;
    background-color: #5ac900;
    border: black solid 2px;
}
.edge-vert {
    cursor: url(../scale-vertical.png), auto;
}
.edge-hori {
    cursor: url(../scale-horizontal.png), auto;
}
.edge-diag1 {
    cursor: url(../scale-tlbr.png), auto;
}
.edge-diag2 {
    cursor: url(../scale-trbl.png), auto;
}