* {
	margin: 0px;
	border: 0px;
	padding: 0px;
}
html {
	height: 100%;
}
body {
	/* Making the body take whole page */
	position:absolute; top:0; bottom:0; right:0; left:0;
	height: 100%;

	/* The text */
	color: aliceblue;
	font-family: 'Lato', sans-serif;
}

/* all the special cases in which my font colour is needed */
prosto {
	color: #5af95a;
}
/* all the special cases in which my secondaty font colour is needed */
sidekick {
	color: #00f4ff;
}

center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	text-align: left;

	display: flex;
	row-gap: 5px;
	gap: 1em;
	/* flex-wrap: wrap; */
}
center > img {
	max-width: 30%;
	border-radius: 20%;
	margin-bottom: auto;
}
center > div {
	display: flex;
	gap: 0.5rem;
	flex-direction: column;
	flex-wrap: wrap;
}